@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tektur&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 5px black;
}

.wrapper::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: black;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.stars, .moon, .background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.stars{
    transform: translateZ(-20px)scale(3);
}

.moon{
    transform: translateZ(-15px)scale(2.5);
}

.background{
    transform: translateZ(-10px)scale(2);
}

.foreground{
    transform: translateZ(-5px)scale(1.6);
}

.title_site {
    font-size: 5rem;
    color: white;
    z-index: -1;
    text-align: center;
}

.trailPage{
    padding: 3px;
    background-image: url("https://wallpapers.com/images/hd4/the-earth-in-half-hqg0dwacfj0rr8el.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding: 30px ;
}

.addons{
    margin-top: 40%;
    padding: 0;
    margin-block-end: 0;
}

.space{
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Tektur', cursive;
    padding: 0;
}

.detailings{
    text-align: center;
    line-height: 1.5;
    text-shadow: 0 0 5px black;
}
@media only screen and (max-width: 600px) {
    .detailings{
        text-align: justify;
    }
}

.earthClass{
    padding: 3px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/xcLR5HMU2kxskdAy3ZVuTf.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.headingEarth{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageEarth{
    text-shadow: 0 0 5px black;
    max-width: 270px;
    padding: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .earthClass{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .headingEarth{
        margin-top: 50%;
    }
    .detailsPageEarth{
        max-width: 100%;
        text-align: justify;
    }
}

.moonClass{
    padding: 3px;
    background-image: url("https://www.rmg.co.uk/sites/default/files/styles/full_width_1440/public/Super%20Moon%20by%20Giorgia%20Hofer.jpg?itok=wwJLtflM");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.headingMoon{
    margin-top: 30%;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageMoon{
    text-align: justify;
    padding: 0;
    line-height: 1.5;
    
}

.sunClass{
    padding: 3px;
    background-image: url("https://d.newsweek.com/en/full/2111507/solar-material.jpg?w=1600&h=1200&q=88&f=7b734813a928e810f3c2955a2ed3e53c");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.headingSun{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageSun{
    text-shadow: 0 0 5px black;
    max-width: 270px;
    padding: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .sunClass{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .headingSun{
        margin-top: 50%;
    }
    .detailsPageSun{
        max-width: 100%;
        text-align: justify;
    }
}

.solarSystemClass{
    padding: 3px;
    background-image: url("https://cdn.hswstatic.com/gif/planet-order.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;
}

.headingSolarSystem{
    margin-top: 30%;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageSolarSystem{
    max-width: 70%;
    padding: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .headingSolarSystem{
        margin-top: 50%;
    }
    .detailsPageSolarSystem{
        max-width: 100%;
        text-align: justify;
    }
}

.blackHoleClass{
    padding: 3px;
    background-image: url("https://www.science.org/do/10.1126/science.abb1641/abs/Supermassive_blackhole_planet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;
}

.headingBlackHole{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageBlackHole{
    max-width: 21%;
    padding: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .headingBlackHole{
        margin-top: 50%;
    }
    .detailsPageBlackHole{
        max-width: 100%;
        text-align: justify;
    }
}

.galaxyClass{
    padding: 3px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/3ugD8i73SE2V5YNb7YkkZA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.headingGalaxy{
    margin-top: 30%;
    margin-block-end: 0;
    font-size: 3rem;
    font-family: 'Tektur', cursive;
    padding: 30px;
}

.detailsPageGalaxy{
    text-align: center;
    padding: 0;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .detailsPageGalaxy{
        text-align: justify;
    }
}

.footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}